@import './tokens';

@mixin descriptionNameMixin {
    color: $font-color-2;
    font-size: $font-size-m;
}

@mixin titleNameMixin($level) {
    margin: 0 0 15px 0;
    line-height: 1.5;
    color: $font-color-1;
    text-align: center;
    @if($level == 1) {
        font-size: $font-size-title-1;
    } @else if($level == 2) {
        font-size: $font-size-title-2;
    } @else {
        font-size: $font-size-title-3;
    }
}

@mixin titleNameMixinWithOutParametr {
    margin: 0 0 15px 0;
    line-height: 1.5;
    color: $font-color-1;
    text-align: center;
}

@mixin btnMainNameMixin {
    background-color: transparent;
    border: none;
    padding: 12px 26px;  /* przy dwóch parametrach pierwszy ustala padding góra i  dół, drugi lewa i prawa. Ta sama zasada dla margin*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-size: $font-size-m;
    cursor: pointer;
    color: $font-color-3;
    border-radius: 4px;
    &--primary {
        background-color: $color-primary;
        &:hover {
            background-color: $color-primary-hover;
        }
        &:focus-visible {
            outline: none;
            box-shadow: $box-shadow-primary;
        }
        &:focus {
            outline: none;
            box-shadow: $box-shadow-primary;
        }
    }
    &--secondary {
        background-color: $color-secondary;
    }
    &--success {
        background-color: $color-success;
    }
    // &::after {
    //     content: 'masakra dla googla bota';
    // }
    /* odkomentuj i zaobacz jak dział, popatz w konsole szukaj w niej przycisków*/

}
@mixin inputNameMixin {
    display: block;
    width: 80%;
    padding: 4px 8px;
    font-size: $font-size-m;
    color: $font-color-1;
    background-color: white;
    border: none;
    border-bottom: 1px solid #cbc7c7;
    margin: 15px 0 15px 0;

    &:focus-visible {
        outline-offset: 0px;
        outline: none;
        border-bottom-color: $color-success;
    }
    &::placeholder {
        font-size: $font-size-m;
    }
}

@mixin anchorNameMixin {
    text-decoration: none;
    color: $font-color-1;
    line-height: 1.2;

    &:hover {
     text-decoration: underline;  /*overline; line-through  (underline overline;) wypróbuj*/


    }
    &:focus-visible {
        outline-offset: 4px;
    }
}

