$font-color-1: rgb(30, 27, 27);
$font-color-2: rgba(30, 27, 27, 0.678);
$font-color-3: rgb(247, 241, 241);
$font-size-xl: 25px;
$font-size-l: 20px;
$font-size-m: 16px;
$font-size-s: 12px;
$font-size-title-1: 46px;
$font-size-title-2: 35px;
$font-size-title-3: 30px;
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-denger: #dc3545;
$color-primary-hover: #0069d9;
$box-shadow-primary: 0px 0px 0px 3px rgba(0, 255,120 / 50%, 0.5);
$margin-top: 25px;
