@import './tokens';
@import './mixin';

.main-nav {
    background-color: whitesmoke;

    .list-nav {
        .list-liNav {
            display: inline-block;
            width: 20%;
            a {
               @include anchorNameMixin; 
            }
        }
    }
}

.main-header {
    margin-top: $margin-top;
    .title {
        @include titleNameMixin(1);
        /* 
            użycie mixin z przekazaniem parametru. 
            Wymaga doania logiki obsułu w samym mixin. 
            Patrz @mixin titleNameMixin($level)
        */
    }

    .description {
        @include descriptionNameMixin;
    }
}

.main-section {
    margin-top: $margin-top;
    .title {
        @include titleNameMixinWithOutParametr;
        &--2 {
            font-size: $font-size-title-2;
            /*
                & to powielenie zazwy selektora z rodzica 
                np. 
                .rodzic {
                    &--tata 
                }
                tworzy selektor .rodzic--tata
            */
        }
    }

    .description {
        @include descriptionNameMixin;
    }
}

.footer-button {
    .btnMain {
        @include btnMainNameMixin;

    }
}

.form {
    margin-top: $margin-top;
    .fildset-main {
        border: none;
        legend {

            padding: 0;
            font-size: $font-size-l;
            color: $font-color-1;
        }
        label {
            display: inline-block;
            margin-top: 8px;
        }
        input {
            @include inputNameMixin;
        }
    }
}