@charset "UTF-8";
.main-nav {
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
}

.main-nav .list-nav {
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav .list-nav .list-liNav {
  display: inline-block;
  width: 25%;
  margin-right: -4px;
}

.main-nav .list-nav .list-liNav a {
  text-decoration: none;
  color: #1e1b1b;
  line-height: 1.2;
}

.main-nav .list-nav .list-liNav a:hover {
  text-decoration: underline;
  /*overline; line-through  (underline overline;) wypróbuj*/
}

.main-nav .list-nav .list-liNav a:focus-visible {
  outline-offset: 4px;
}

.main-header {
  margin-top: 25px;
}

.main-header .title {
  margin: 0 0 15px 0;
  line-height: 1.5;
  color: #1e1b1b;
  text-align: center;
  font-size: 46px;
  /* 
            użycie mixin z przekazaniem parametru. 
            Wymaga doania logiki obsułu w samym mixin. 
            Patrz @mixin titleNameMixin($level)
        */
}

.main-header .description {
  color: rgba(30, 27, 27, 0.678);
  font-size: 16px;
}

.main-section {
  margin-top: 25px;
}

.main-section .title {
  margin: 0 0 15px 0;
  line-height: 1.5;
  color: #1e1b1b;
  text-align: center;
}

.main-section .title--2 {
  font-size: 35px;
  /*
                & to powielenie zazwy selektora z rodzica 
                np. 
                .rodzic {
                    &--tata 
                }
                tworzy selektor .rodzic--tata
            */
}

.main-section .description {
  color: rgba(30, 27, 27, 0.678);
  font-size: 16px;
}

.footer-button .btnMain {
  background-color: transparent;
  border: none;
  padding: 12px 26px;
  /* przy dwóch parametrach pierwszy ustala padding góra i  dół, drugi lewa i prawa. Ta sama zasada dla margin*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-size: 16px;
  cursor: pointer;
  color: #f7f1f1;
  border-radius: 4px;
  /* odkomentuj i zaobacz jak dział, popatz w konsole szukaj w niej przycisków*/
}

.footer-button .btnMain--primary {
  background-color: #007bff;
}

.footer-button .btnMain--primary:hover {
  background-color: #0069d9;
}

.footer-button .btnMain--primary:focus-visible {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 255, 2, 0.5);
          box-shadow: 0px 0px 0px 3px rgba(0, 255, 2, 0.5);
}

.footer-button .btnMain--primary:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 255, 2, 0.5);
          box-shadow: 0px 0px 0px 3px rgba(0, 255, 2, 0.5);
}

.footer-button .btnMain--secondary {
  background-color: #6c757d;
}

.footer-button .btnMain--success {
  background-color: #28a745;
}

.form {
  margin-top: 25px;
}

.form .fildset-main {
  border: none;
}

.form .fildset-main legend {
  padding: 0;
  font-size: 20px;
  color: #1e1b1b;
}

.form .fildset-main label {
  display: inline-block;
  margin-top: 8px;
}

.form .fildset-main input {
  display: block;
  width: 80%;
  padding: 4px 8px;
  font-size: 16px;
  color: #1e1b1b;
  background-color: white;
  border: none;
  border-bottom: 1px solid #cbc7c7;
  margin: 15px 0 15px 0;
}

.form .fildset-main input:focus-visible {
  outline-offset: 0px;
  outline: none;
  border-bottom-color: #28a745;
}

.form .fildset-main input::-webkit-input-placeholder {
  font-size: 16px;
}

.form .fildset-main input:-ms-input-placeholder {
  font-size: 16px;
}

.form .fildset-main input::-ms-input-placeholder {
  font-size: 16px;
}

.form .fildset-main input::placeholder {
  font-size: 16px;
}

.aboutMe {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.aboutMe .title hr {
  width: 10%;
  background-color: red;
  border: 0;
  height: 1px;
}

.aboutMe .foto {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 50%;
}

.aboutMe .foto img {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */